trigger:
- meowster

jobs:
- job: build_win_x64
  displayName: Build win-x64
  pool:
    vmImage: windows-2019
  steps:
  - task: UseDotNet@2
    inputs:
      packageType: 'sdk'
      version: '6.0.100'
      includePreviewVersions: true
  - task: PowerShell@2
    inputs:
      filePath: 'aot-build.ps1'
      arguments: '-PublishDir $(Build.ArtifactStagingDirectory)/win-x64'
      pwsh: true
  - task: ArchiveFiles@2
    displayName: Zip binaries
    inputs:
      rootFolderOrFile: '$(Build.ArtifactStagingDirectory)/win-x64'
      includeRootFolder: false
      archiveType: 'zip'
      archiveFile: '$(Build.ArtifactStagingDirectory)/nitrosharp-win-x64-$(Build.BuildNumber).zip'
      replaceExistingArchive: true
  - task: GitHubRelease@1
    displayName: 'Create GitHub release'
    inputs:
      gitHubConnection: 'github.com_SomeAnonDev'
      repositoryName: 'CommitteeOfZero/nitrosharp'
      action: 'create'
      target: '$(Build.SourceVersion)'
      tagSource: 'userSpecifiedTag'
      tag: '$(Build.BuildNumber)'
      releaseNotesSource: 'inline'
      assets: |
        $(Build.ArtifactStagingDirectory)/*.zip
        $(Build.ArtifactStagingDirectory)/win-x64/*.exe
      addChangeLog: false
